.todo{
    display: flex;
    flex-direction: column;
    flex: 0 1 11rem;
    width: 30rem;
    box-shadow: 3px 3px 15px 5px grey;
    padding: 1rem;
}

.todoInput{

    display: flex;
    flex-direction: row;
}

.todo-list{
    /*border: solid ;*/
    margin-top: 1rem;
    padding: 1rem;
}