body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    margin: auto;
    width: 90%;
}

.game-board{
    margin-left: 7%;
    box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.2);
    float: left;
}
.game-info {
    float: left;
    width: 30%;
    margin-left: 7%;
}
.imageDiv{
    float: left;
    background: url("pic/logo192.png");
    background-size: contain;
    width: 90px;
    height: 90px;
    box-shadow: gray 3px 4px 4px;
}
.history_ol {
    border-color: gray;
    padding: 0;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.history_li{
    background-color:  #f1f1f1;
    list-style: none;
    padding: 5px auto;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-size: medium;
}
.history_li:hover{
    background-color: #555;
    color: white;
    width: auto;
}

